<section class="content">
    <!-- job -->
    <script src="../../dist/js/job.js"></script>

    <div class="container-fluid">

        <div class="card">
            <!-- form start -->
            <div class="card-body">
                <div class="row">
                    <div class="col-10 col-sm-5 form-group">
                        <label for="job_request_no">Job Request Number</label>
                        <input type="text" class="form-control" name="job_request_no" id="job_request_no" placeholder="Job Request Number">
                    </div>
                    <!-- Date range -->
                    <div class="col-10 col-sm-5 form-group">
                        <label>Date range:</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control float-right" id="reservation">
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->
                    <button id="search" class="col-4 col-sm-2 btn btn-primary float-right" >Search</button>
                </div>
            </div>
        </div>

    </div><!-- /.container-fluid -->

</section>